<div class="container">
    <!--Upper view -->
    <div class="row">
        <h1>{{ad?.title}}</h1>
        <!--Images -->
        <div class="col-sm-12 col-md-7">
            <!--Big image -->
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img [src]="adImages?.length > 0 && adImages[0] != undefined ? adImages[0] :  ''" [ngStyle]="{'visibility': (adImages?.length > 0 && adImages[0] != undefined ? 'visible' : 'hidden')}"
                        class="img-thumbnail img-lg">
                </div>
            </div>
            <!--Small images -->
            <div class="row padding-top-sm">
                <div class="col-xs-3">
                    <img [src]="adImages?.length > 0 && adImages[1] != undefined ? adImages[1] :  ''" [ngStyle]="{'visibility': (adImages?.length > 0 && adImages[1] != undefined ? 'visible' : 'hidden')}"
                        class="img-thumbnail">
                </div>
                <div class="col-xs-3">
                    <img [src]="adImages?.length > 0 && adImages[2] != undefined ? adImages[2] :  ''" [ngStyle]="{'visibility': (adImages?.length > 0 && adImages[2] != undefined ? 'visible' : 'hidden')}"
                        class="img-thumbnail">
                </div>
                <div class="col-xs-3">
                    <img [src]="adImages?.length > 0 && adImages[3] != undefined ? adImages[3] :  ''" [ngStyle]="{'visibility': (adImages?.length > 0 && adImages[3] != undefined ? 'visible' : 'hidden')}"
                        class="img-thumbnail">
                </div>
                <div class="col-xs-3">
                    <img [src]="adImages?.length > 0 && adImages[4] != undefined ? adImages[4] :  ''" [ngStyle]="{'visibility': (adImages?.length > 0 && adImages[4] != undefined ? 'visible' : 'hidden')}"
                        class="img-thumbnail">
                </div>
            </div>
        </div>
        <!--Right view -->
        <div class="col-md-5 col-sm-12">
            <!--Right view info -->
            <div class="row padding-top-sm">
                <div class="col-sm-9 col-sm-offset-2 well well-sm text-center">
                    <div class="row">
                        <h4 *ngIf="isActive">
                            <i class="fa fa-clock-o"></i> Expira in {{remainingTime}}</h4>
                        <h4 *ngIf="!isActive">
                            <i class="fa fa-clock-o"></i> Expirat</h4>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <h4 *ngIf="isActive">
                            <i class="fa fa-car"></i> Distanta: {{distance}}km</h4>
                        <h4 *ngIf="!isActive">
                            <i class="fa fa-car"></i> Distanta: -</h4>
                    </div>
                </div>
            </div>
            <!--Right view buttons -->
            <div class="row padding-top-lg padding-bottom-md">
                <div class="col-sm-9 col-sm-offset-2 text-center">
                    <button class="btn btn-info btn-lg btn-block btn-rectangle" [disabled]="!isActive" (click)="checkIfLogged()" data-toggle="modal"
                        data-target="#propunereOferta">
                        <i class="fa fa-paper-plane icon-md"></i> Trimite oferta
                    </button>
                    <button class="btn btn-success btn-lg btn-block btn-rectangle margin-top-sm" [disabled]="!isActive" (click)="shareAd()">
                        <i class="fa fa-bullhorn icon-md"></i>
                        Recomanda unui expert
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Buttom view -->
    <div class="row">
        <div class="col-sm-12 col-md-5 divider">
        </div>
    </div>
    <div class="row padding-bottom-md">
        <div class="col-sm-12 col-md-8">
            <div class="caption">
                <h3>Detalii</h3>
                <p>{{ad?.description}} </p>
            </div>
        </div>
    </div>
</div>

<!--Modal -->
<div class="modal fade" id="propunereOferta" tabindex="-1" role="dialog" aria-labelledby="propunereOferta" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Propunere oferta</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="offertForm" (ngSubmit)="onSendOffert()">
                    <!--Descriere -->
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="descriere-solutie">Descrie solutie oferita</label>
                            <textarea class="form-control" rows="5" [spellcheck]="false" id="descriere-solutie" formControlName="description"></textarea>
                            <div class="text-danger" *ngIf="!offertForm.controls['description'].valid && offertForm.controls['description'].touched">
                                Introdu descrierea ofertei.
                            </div>
                        </div>
                    </div>
                    <!--Durata -->
                    <div class=" row padding-bottom-sm">
                        <div class="col-sm-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Durata lucrare" formControlName="estimatedTime">
                                </div>
                                <select class="form-control" formControlName="timeUnit">
                                    <option value="zile" [selected]="true">zile</option>
                                    <option value="luni">luni</option>
                                </select>
                            </div>
                            <div class="text-danger" *ngIf="!offertForm.controls['estimatedTime'].valid && offertForm.controls['estimatedTime'].touched">
                                Introdu durata lucrarii.
                            </div>
                        </div>
                    </div>
                    <!--Pret -->
                    <div class=" row ">
                        <div class="col-sm-12">
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Pret" formControlName="price">
                                </div>
                                <select class="form-control" formControlName="currency">
                                    <option value="RON" [selected]="true">RON</option>
                                    <option value="EUR">EUR</option>
                                </select>
                            </div>
                            <div class="text-danger" *ngIf="!offertForm.controls['price'].valid && offertForm.controls['price'].touched">
                                Introdu pretul lucrarii.
                            </div>
                        </div>
                    </div>
                    <div class="row padding-top-sm ">
                        <div class="col-sm-5 ">
                            <button type="submit" class="btn btn-info btn-lg btn-block btn-rectangle" [disabled]="!offertForm.valid">
                                <i class="fa fa-paper-plane icon-md "></i> Trimite oferta
                            </button>
                        </div>
                    </div>
                    <input type="button" style="display: none" data-dismiss="modal" #closeModal>
                </form>
            </div>
        </div>
    </div>
</div>