<div class="container" *ngIf="currentAds?.length > 0; else noAds">
    <my-ad [ad]="ad" *ngFor="let ad of currentAds"></my-ad>
</div>
<ng-template #noAds>
    <div class="container">
        <div class="alert alert-warning text-center">Nu exista nicio cerere activa :(</div>
    </div>
</ng-template>

<div class="text-center">
    <pagination [totalItems]="ads != null ? ads.length : 0" [itemsPerPage]="ITEMS_PER_PAGE" (pageChanged)="pageChanged($event)" previousText="Inapoi"
        nextText="Inainte"></pagination>
</div>