<td>
    <a [routerLink]="['/review', offert.offererId]">{{offert?.offererName}}</a>
</td>
<td>
    <a [routerLink]="['/anunturi', offert.categoryName, offert.adId]">{{offert?.adTitle}}</a>
</td>
<td class="text-left">
    <p>{{offert?.description}} </p>
    <p class="text-danger" *ngIf="offert?.certification == false">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <b> Utilizatorul necertificat</b>
    </p>
    <p class="text-success" *ngIf="offert?.certification == true">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
        <b> Utilizatorul certificat</b>
    </p>
</td>
<td>{{offert?.price}}{{offert?.currency}} </td>
<td>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <form (ngSubmit)="onAprove()">
                <button class="btn btn-success btn-block">Aproba</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 padding-top-sm">
            <form (ngSubmit)="onDenied()">
                <button class="btn btn-danger btn-block">Respinge</button>
            </form>
        </div>
    </div>
</td>