<div class="container">
    <div class="row padding-top-md" *ngIf="!(holdingOfferts?.length > 0  || acceptedOfferts?.length > 0 )">
        <div class="alert alert-warning text-center">Momentan nu aveti nicio oferta.</div>
    </div>

    <div class="row" *ngIf="holdingOfferts?.length > 0">
        <div class="col-xs-12">
            <h1>Oferte primite</h1>
            <div class="row padding-bottom-md">
                <div class="col-xs-12 col-sm-7 ">
                    <div class="divider"></div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-success text-center">
                    <tr>
                        <th class="col-xs-1 text-center">Utilizator</th>
                        <th class="col-xs-3 text-center">Anunt</th>
                        <th class="col-xs-4 text-center">Oferta</th>
                        <th class="col-xs-1 text-center">Pret</th>
                        <th class="col-xs-3 text-center">Actiune</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let offert of holdingOfferts" app-offert [offert]="offert" (offertWasHandled)="onOffertHandled($event)"> </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="acceptedOfferts?.length > 0">
        <div class="col-xs-12">
            <h1>Oferte acceptate</h1>
            <div class="row padding-bottom-md">
                <div class="col-xs-12 col-sm-7 ">
                    <div class="divider"></div>
                </div>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead class="bg-success text-center">
                    <tr>
                        <th class="col-xs-1 text-center">Utilizator</th>
                        <th class="col-xs-3 text-center">Anunt</th>
                        <th class="col-xs-4 text-center">Oferta</th>
                        <th class="col-xs-1 text-center">Pret</th>
                        <th class="col-xs-3 text-center">Actiune</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let offert of acceptedOfferts" app-offert-accepted [offert]="offert" (onReviewPress)="onReviewClicked($event)">
                    </tr>
                </tbody>

                <div class="modal fade" id="propunereOferta" tabindex="-1" role="dialog" aria-labelledby="propunereOferta" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Adauga review</h4>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-7">
                                            <div class="form-group">
                                                <label for="inputEmail3">Titlu</label>
                                                <input type="email" class="form-control" id="inputEmail3" formControlName="reviewTitle" />
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Calitate lucrare</label>
                                                <select class="form-control" id="sel1" formControlName="qualityRate">
                                                    <option value="4" [selected]="true">Foarte multumit</option>
                                                    <option value="3">Multumit</option>
                                                    <option value="2">Neutru</option>
                                                    <option value="1">Nemultumit</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Profesionalism</label>
                                                <select class="form-control" id="sel1" formControlName="professionalismRate">
                                                    <option value="4" [selected]="true">Foarte multumit</option>
                                                    <option value="3">Multumit</option>
                                                    <option value="2">Neutru</option>
                                                    <option value="1">Nemultumit</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="sel1">Punctualitate</label>
                                                <select class="form-control" id="sel1" formControlName="punctualityRate">
                                                    <option value="4" [selected]="true">Foarte multumit</option>
                                                    <option value="3">Multumit</option>
                                                    <option value="2">Neutru</option>
                                                    <option value="1">Nemultumit</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-5">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Adauga imagini</label>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-3 col-md-6">
                                                                <label class="image-placeholder">
                                                                    <input style="display: none;" type="file" (change)="uploadImg($event)">
                                                                    <img [src]="reviewImages[0] != undefined ? reviewImages[0]?.url :  ''" [ngStyle]="{'visibility': (reviewImages[0] != undefined ? 'visible' : 'hidden')}"
                                                                        class="img-thumbnail">
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-6">
                                                                <label class="image-placeholder">
                                                                    <input style="display: none;" type="file" (change)="uploadImg($event)">
                                                                    <img [src]="reviewImages[1] != undefined ? reviewImages[1]?.url :  ''" [ngStyle]="{'visibility': (reviewImages[1] != undefined ? 'visible' : 'hidden')}"
                                                                        class="img-thumbnail">
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-6">
                                                                <label class="image-placeholder">
                                                                    <input style="display: none;" type="file" (change)="uploadImg($event)">
                                                                    <img [src]="reviewImages[2] != undefined ? reviewImages[2]?.url :  ''" [ngStyle]="{'visibility': (reviewImages[2] != undefined ? 'visible' : 'hidden')}"
                                                                        class="img-thumbnail">
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-3 col-md-6">
                                                                <label class="image-placeholder">
                                                                    <input style="display: none;" type="file" (change)="uploadImg($event)">
                                                                    <img [src]="reviewImages[3] != undefined ? reviewImages[3]?.url :  ''" [ngStyle]="{'visibility': (reviewImages[3] != undefined ? 'visible' : 'hidden')}"
                                                                        class="img-thumbnail">
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row padding-top-md">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="rating">Rating</label>
                                                        <rating [(ngModel)]="rate" [ngModelOptions]="{standalone: true}" [max]="MAX_RATE" class="stars" id="rating"></rating>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Descriere -->
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label for="descriere-solutie">Descriere</label>
                                            <textarea class="form-control" rows="5" id="descriere-solutie" formControlName="reviewDescription"></textarea>
                                        </div>
                                    </div>
                                    <div class="row padding-top-sm">
                                        <div class="col-sm-12 text-center">
                                            <button class="btn btn-info btn-lg btn-rectangle">
                                                <i class="fa fa-paper-plane icon-md"></i> Trimite review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>
</div>