<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Oferte primite</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-7 ">
                    <div class="divider"></div>
                </div>
            </div>
            <div class="padding-top-md"></div>
            <table class="table table-striped table-hover text-center">
                <thead class="bg-success">
                <tr>
                    <th class="col-xs-1 text-center">Vezi utilizator</th>
                    <th class="col-xs-4 text-center">Anunt</th>
                    <th class="col-xs-4 text-center">Oferta</th>
                    <th class="col-xs-7 text-center">Actiune</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let offer of offerts">
                    <td><a href="#" data-toggle="modal" data-target="#userDetails">John</a></td>
                    <td><a href="#">Caut tamplar pentru mobila bucatarie</a></td>
                    <td>Oferta mea este urmatoarea<br>Iti fac la 50 de lei patul si pe langa asta <br>mai adaugam si mobila copilului. Suna-ma la 07732321</td>
                    <td>
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                <button class="btn btn-success btn-block">Aproba</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                <button class="btn btn-danger btn-block">Respinge</button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userDetails" tabindex="-1" role="dialog" aria-labelledby="userDetails" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Detalii utilizator</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <!--               Avatar -->
                            <div class="col-xs-3 col-sm-2">
                                <img src="http://via.placeholder.com/90x120" class="img-rounded"/>
                            </div>
                            <!--               Detalils & rating -->
                            <div class="col-xs-9 col-sm-5 padding-bottom-sm">
                                <span class="lead">Bogdan Dima</span>
                                <span class="stars">
                    <span class="star"><i class="fa fa-star"></i></span>
                    <span class="star"><i class="fa fa-star"></i></span>
                    <span class="star"><i class="fa fa-star"></i></span>
                    <span class="star"><i class="fa fa-star-o"></i></span>
                    <span class="star"><i class="fa fa-star-o"></i></span>
	                </span>
                                <div class="border-bottom-sm bolder small">Descriere cunostinte</div>
                                <small>Mecanic de profesie cu experienta de 10 ani.
                                    Sef service auto in perioada 2015-2017
                                </small>
                            </div>
                            <div class="col-xs-12 col-sm-4 text-center padding-top-md">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-sm-offset-0">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-12">
                                                <div class="btn-style">
                                                    <i class="fa fa-hourglass-half"> Experienta: 10 ani</i>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-12">
                                                <a class="btn btn-default btn-block phone">
                                                    <i class="fa fa-phone"></i>
                                                    073x xxx xxx</a>
                                            </div>
                                        </div>
                                        <div class="margin-top-sm"><a href="#">Vezi istoric</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5>Adresa</h5>
                        <!--           Map -->
                        <div class="row">
                            <div class="col-xs-12" id='map' style='height: 200px; width=100%'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map script -->
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYW5vbmltNTAiLCJhIjoiY2o4Njl1cDFjMHV4ZDJxbzYzZW9jb2FzcCJ9.Zh5SAW3LoVIVRz-huLw7_Q';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v10',
        center: [24.1499472, 45.7797947],
        pitch: 60,
        zoom: 13.55
    });

    var marker = [24.1450417, 45.7968075];
    // create the popup
    var popup = new mapboxgl.Popup()
        .setText('Caut urgent electrician in zona. Tel:073 xxx xxxx');

    // create DOM element for the marker
    var el = document.createElement('div');
    el.id = 'marker';

    // create the marker
    new mapboxgl.Marker(el)
        .setLngLat(marker)
        .setPopup(popup) // sets a popup on this marker
        .addTo(map);
</script>
