<div class="container">
    <div class="padding-top-md">
        <div class="row">
            <div class="col-sm-6 border-bottom-sm">
                <h3>Administrare cont</h3>
            </div>
        </div>
    </div>

    <!--Administrare-->
    <div class="padding-top-md">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active half-full-width">
                        <a href="#1" data-toggle="tab">Anunturile tale</a>
                    </li>
                    <li class="half-full-width"><a href="#2" data-toggle="tab">Oferte propuse</a>
                    </li>
                    <li class="half-full-width"><a href="#3" data-toggle="tab">Setari</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane padding-top-md active" id="1">
                        <my-ad-list-admin></my-ad-list-admin>
                    </div>
                    <div class="tab-pane padding-top-md" id="2">
                        <my-offert-list-admin></my-offert-list-admin>
                    </div>
                    <div class="tab-pane padding-top-md" id="3">
                        <my-settings-admin></my-settings-admin>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>