<div class="container-fluid margin-top-sm margin-bottom-sm" id="content">
    <div class="row padding-top-lg padding-bottom-lg" id="login-row">
        <div class="col-sm-12 col-md-4 col-md-offset-7 no-padding bg-white">
            <ul class="nav nav-tabs text-center">
                <li class="active half-full-width">
                    <a href="#1" data-toggle="tab">Autentificare</a>
                </li>
                <li class="half-full-width">
                    <a href="#2" data-toggle="tab">Creare cont</a>
                </li>
            </ul>


            <div class="tab-content padding-left-md padding-right-md">
                <div class="tab-pane padding-top-md active" id="1">
                    <app-signin></app-signin>
                </div>
                <div class="tab-pane padding-top-md" id="2">
                    <app-signup></app-signup>
                </div>
            </div>
        </div>
    </div>
</div>