<div class="container-fluid margin-top-sm" id="content">
    <div class="row padding-top-lg padding-bottom-lg" id="login-row">
        <div class="col-sm-12 col-md-4 col-md-offset-4 bg-white padding-top-md padding-bottom-md">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onChangePassword()">
                <div class="form-group">
                    <label for="email">Adresa email:</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div class="text-danger" *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched">
                        Format adresa email invalid.
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd">Parola noua:</label>
                    <input type="password" class="form-control" id="pwd" formControlName="password">
                    <div class="text-danger" *ngIf="!forgotPasswordForm.controls['password'].valid && forgotPasswordForm.controls['password'].touched">
                        Lungime parola: minim 6 catactere.
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block" [disabled]="!forgotPasswordForm.valid">
                    Modifica parola
                </button>
            </form>
        </div>
    </div>
</div>