<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-10 well well-success">
    <div class="row">
        <!--         Image -->
        <div class="hidden-xs col-sm-3" id="request-image">
            <img id="adImage" [src]="adImage != undefined ? adImage :  ''" [ngStyle]="{'visibility': (adImage != undefined ? 'visible' : 'hidden')}"
                class="img-thumbnail">
        </div>
        <!--         Details -->
        <div class="col-xs-12 col-sm-9" id="request-container">
            <div class="row" id="details-row">
                <!--                           Info -->
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>
                                <a [routerLink]="['/anunturi',offert.adId.categoryId.name,offert.adId._id]">{{offert.adId.title}}</a>
                            </h3>
                        </div>
                    </div>
                    <div class=" row ">
                        <div class="col-xs-12">
                            Pret propus: {{offert.price}}{{offert.currency}}
                        </div>
                    </div>
                </div>
                <!--Buton -->
                <div class="col-xs-12 col-sm-6 ">
                    <button class="btn btn-info btn-lg" [routerLink]="['/review',offert.adId.userId]">
                        <i class="fa fa-info-circle "></i>
                        Vezi detalii client
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>