<div class="col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1 col-md-10 well well-success" >
    <div class="row">
        <!--         Image -->
        <div class="hidden-xs col-sm-3" id="request-image">
            <img src="http://via.placeholder.com/130x100">
        </div>
        <!--         Details -->
        <div class="col-xs-12 col-sm-9" id="request-container">
            <div class="row" id="details-row">
                <!--                           Info -->
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3><a href="#">Titlu anunt</a></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Pret propus: 150lei
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p><i class="fa fa-clock-o"></i> Expira in 1z 5h</p>
                        </div>
                    </div>
                </div>
                <!--                           Buton -->
                <div class="col-xs-12 col-sm-6">
                    <button class="btn btn-info btn-lg"><i class="fa fa-info-circle"></i> Vezi detalii client</button>
                </div>
            </div>
        </div>
    </div>
</div>