<div class="panel-group" id="accordion">
    <!--                 Modifica date cont -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Modifica date utilizator</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <!--                         Avatar -->
                    <div class="col-xs-12 col-sm-2 text-center">
                        <img class="img-rounded" src="http://via.placeholder.com/90x90">
                    </div>
                    <!--                       Nume, telefon, adresa -->
                    <div class="col-xs-12 col-sm-4 col-md-5">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="Nume">
                        </div>
                        <div class="input-group padding-top-sm">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Telefon">
                        </div>
                        <div class="input-group padding-top-sm">
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                            <input type="text" class="form-control" placeholder="Adresa">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle form-control" type="button" data-toggle="dropdown">Tip utilizator
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-wide">
                                <li><a href="#">Depanator probleme</a></li>
                                <li><a href="#">Utilizator obisnuit</a></li>
                            </ul>
                        </div>
                        <div class="dropdown padding-top-sm">
                            <button class="btn btn-default dropdown-toggle form-control" type="button" data-toggle="dropdown">Ani de experienta
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-wide">
                                <li><a href="#">Sub 1 ani</a></li>
                                <li><a href="#">Sub 5 ani</a></li>
                                <li><a href="#">Sub 10 ani</a></li>
                                <li><a href="#">Peste 10 ani</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--                       Descriere -->
                <div class="padding-top-sm">
                    <div class="panel panel-default">
                        <div class="panel-heading">Descriere cunostinte</div>
                        <div class="panel-body">Mecanic de profesie cu experienta de 10 ani.<br>
                            Sef service auto in perioada 2015-2017</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--                 Schimba adresa e-mail -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Schimba adresa e-mail</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="password">Parola ta</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="new-email">Adresa noua de e-mail</label>
                        <input type="email" id="new-email" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-3">
                        <button class="btn btn-info btn-block"> Schimba adresa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--                 Schimba parola -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Schimba parola</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="newPassword1">Parola noua</label>
                        <input type="password" id="newPassword1" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-6 col-md-4">
                        <label for="newPassword2">Repeta parola</label>
                        <input type="password" id="newPassword2" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-md-3">
                        <button class="btn btn-info btn-block"> Schimba parola</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--                 Sterge cont -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Sterge cont</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body text-center">
                <button class="btn btn-lg btn-danger"><i class="fa fa-close"></i> Sterge contul</button>
            </div>
        </div>
    </div>
</div>