<div class="panel-group" id="accordion">
    <!--Modifica date cont -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Modifica date utilizator</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <form [formGroup]="userInfo" (ngSubmit)="onChangeUserInfo()">
                    <div class="row">
                        <!--Avatar -->
                        <div class="col-xs-12 col-sm-2 text-center">
                            <img class="img-rounded" src="http://via.placeholder.com/90x90">
                        </div>
                        <!--Nume, telefon, adresa -->
                        <div class="col-xs-12 col-sm-4 col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Nume" formControlName="name">
                            </div>
                            <div class="input-group padding-top-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                                <span class="input-group-addon background-white">
                                    Ani de experienta
                                </span>
                                <input type="number" pattern="[0-9]" required class="form-control" formControlName="experienceYears">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Telefon" formControlName="phone">
                            </div>
                            <div class="input-group padding-top-sm">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Adresa" formControlName="address">
                            </div>
                        </div>
                    </div>
                    <!--Descriere -->
                    <div class="row padding-top-sm">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">Descriere aptitudini</div>
                                <textarea class="form-control" rows="5" formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row padding-top-sm">
                        <div class="col-xs-12 col-sm-5 col-md-3">
                            <button type="submit" class="btn btn-info btn-block"> Actualizeaza datele</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Schimba adresa e-mail -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Schimba adresa e-mail</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <form [formGroup]="changeMail" (ngSubmit)="onChangeMail()">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <label for="password">Parola ta</label>
                            <input type="password" id="password" class="form-control" formControlName="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <label for="new-email">Adresa noua de e-mail</label>
                            <input type="email" id="new-email" class="form-control" formControlName="mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-3">
                            <button type="submit" class="btn btn-info btn-block"> Schimba adresa</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Schimba parola -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Schimba parola</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                <form [formGroup]="changePassword" (ngSubmit)="onChangePassword()">
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <label for="newPassword1">Parola noua</label>
                            <input type="password" id="newPassword1" class="form-control" formControlName="newPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <label for="newPassword2">Repeta parola</label>
                            <input type="password" id="newPassword2" class="form-control" formControlName="repeatPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-3">
                            <button type="submit" class="btn btn-info btn-block"> Schimba parola</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Sterge cont -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Sterge cont</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body text-center">
                <form (ngSubmit)="onDeleteAccount()">
                    <button type="submit" class="btn btn-lg btn-danger">
                        <i class="fa fa-close"></i> Sterge contul
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>