<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
        <form class="header-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="row">
                <!--  Cauta servicii -->
                <div class="col-sm-12 col-md-4 sm-padding">
                    <input type="text" class="form-control text-center .sm-padding focus" formControlName="serviceName" placeholder="Ce servicii cauti?"
                        autofocus required="required">
                </div>
                <!-- Categorii -->
                <div class="col-sm-12 col-md-2 sm-padding">
                    <div class="form-group">
                        <select class="form-control" formControlName="categoryName">
                            <option hidden [selected]="true">Alege categoria</option>
                            <option value={{category._id}} *ngFor="let category of categories">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <!--  Locatie -->
                <div class="col-sm-12 col-md-2 sm-padding">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa  fa-map-marker"></i>
                        </span>
                        <input type="text" class="form-control text-center" formControlName="locationName" placeholder="Locatie" required>
                    </div>
                </div>
                <!--  Cauta -->
                <div class="col-sm-12 col-md-4 sm-padding">
                    <button type="submit" class="btn btn-success form-control">
                        <i class="fa fa-search"></i>
                        Cauta servicii
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>