<div class="container padding-top-md">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 bordered">
            <div class="row padding-top-sm padding-bottom-sm">
                <!--Image -->
                <div class="hidden-xs col-sm-2" id="request-image">
                    <img src="http://via.placeholder.com/130x130" class="img-circle img-responsive bordered">
                </div>
                <!--Details -->
                <div class="col-xs-12 col-sm-9" id="request-container">
                    <div class="row">
                        <div class='col-sm-8'>
                            <span class="lead caption">{{review.adTitle}}</span>

                            <blockquote>
                                <p>
                                    <i>{{review.description}}</i>
                                </p>

                                <p>
                                    <label>Calitate lucrare:</label> {{getRatingAsText(review?.qualityRate)}}
                                </p>
                                <p>
                                    <label>Profesionalism:</label> {{getRatingAsText(review?.professionalismRate)}}
                                </p>
                                <p>
                                    <label>Punctualitate:</label> {{getRatingAsText(review?.punctualityRate)}}
                                </p>
                                <footer>
                                    <a [routerLink]="['/review', review.reviserUserId]">{{review?.reviserName}}</a>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-sm-4 ">
                            <rating [(ngModel)]="review.rating" [max]="5" [readonly]="true" class="stars" id="rating"></rating>

                            <div class="center-element">
                                <button class="btn btn-info btn-lg" [routerLink]="['/anunturi', review.categoryName, review.adId]">
                                    Vezi anunt
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>