<div class="col-xs-8 col-xs-offset-2  col-sm-10 col-sm-offset-1 col-md-10 well">
    <div class="row">
        <!--Image -->
        <div class="hidden-xs col-sm-3" id="request-image">
            <img src="http://via.placeholder.com/130x100">
        </div>
        <!--Details -->
        <div class="col-xs-12 col-sm-9" id="request-container">
            <div class="row">
                <div class='col-sm-7'>
                    <h3>
                        <a [routerLink]="['/anunturi',ad.categoryName,ad.id]">{{ad.title}}</a>
                    </h3>
                </div>
                <div class='col-sm-5 text-right text-warning'>
                    <i class="fa fa-clock-o"></i> Expira in {{getRemainingTime()}}
                </div>
            </div>
            <!--Butoane anunt -->
            <div class="row padding-top-sm">
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-info btn-block" [routerLink]="['/oferte']">
                        Oferte
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-success btn-block" [routerLink]="['/anunturi','anunt-nou',ad.id]">
                        Modifica
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <button class="btn btn-danger btn-block" (click)="removeAd()">Sterge</button>
                </div>
            </div>
        </div>
    </div>
</div>